.content-section {
  box-sizing: border-box;
  width: 1100px;
  margin: auto;
  background-color: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr 0.32fr 0.99fr;
  padding: 92px 24px 89px;
}

.header__menu {
  display: flex;
  padding: 41px 0 0 34.19px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

.header__link_active .header__link {
  border-bottom: none;
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
}

.header__logo-image {
  width: 100%;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__address {
  padding-top: 3px;
  padding-left: 180px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 131px;
  border-right: 9px solid #fff;
  border-bottom: 176px solid #fff;
  border-left: 9px solid #fff;
  padding: 162px 49px 48px 47px;
  background-image: url("../images/lotus-flower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  padding-top: 17px;
  padding-left: 283px;
  line-height: 1;
}

.aligned-text_right {
  padding-top: 19px;
  line-height: 1;
  text-align: right;
}

.cover__description {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.4px;
}

.cover__description-text {
  align-self: center;
  padding-left: 33px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 17px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 29px 12px 30px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  margin-bottom: 177px;
  padding: 0 33px;
}

.lots__heading {
  padding: 0 0 27px 37px;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 328px;
  min-height: 554px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 35px 0 39px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_film {
  gap: 236px;
  background-image: url("../images/card-lot-01-copy.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02-copy.jpg");
}

.card_type_picture {
  gap:90px;
  background-image: url("../images/card-lot-03-copy.jpg");
}

.card__title {
  z-index: 2;
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: block;
  margin: 29.2px 803px 0 39px;
  border-bottom: 1px solid #000;
  padding-bottom:1px;
  font-size: 20px;
  line-height: 1.15;
  text-decoration: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr 1.97fr;
  gap: 25px;
  padding: 0 21px 1px 9px;
}

.about__column {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 20px;
}

.about__logo {
  display: flex;
  justify-content: center;
  height: 237px;
  margin: 0 45px 0 70px;
  border-radius: 50%;
  background-color: black;
}

.about__logo-image {
  display: block;
  width: 148px;
}

.about__title {
  padding: 97px 0 100px 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
}

.about__text {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
}

.about__text:last-child {
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 181px 58px 88.8px;
}

.footer__menu {
  display: flex;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  text-decoration: none;
}

.footer__menu-link_active .footer__menu-link {
  border-bottom: none;
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}

.footer__social-icon {
  width: 47px;
}
